@model ModusCreate.Models.News

<h1>@Model.Title</h1>
<h4 style="color:blue;">@Model.Category</h4>
<p>@Model.Date.ToString("dddd, dd MMMM yyyy HH:mm:ss")</p>

<hr />

<h6>@Model.Description</h6>

<hr />